<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>PyGallery</title> 
</head> 
<body> 
    <form method = "post" enctype="multipart/form-data">
        {{form.as_p}}
        <h1>Gallery</h1>
        <div>
            <ul>
                {% for img in image %}
                <li>
                    <p>Name {{ img.name}}</p>
                    <img src="{{ img.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
                </li>
                {% endfor %}
            </ul>
        </div>
        <button type=submit>placeholder</button>
    </form>
</body> 
</html> 