<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>PyGallery</title> 
</head> 
<body> 
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <h1>Gallery</h1>
        <button type=submit>Upload Another Image</button>
        <div>
            <ul>
                {% for img in image %}
                <li>
                    <p>Name: {{ img.name}}</p>
                    <img src="{{ img.image.url }}" alt="img" />
                    <p>Uploaded: {{ img.timestamp }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </form>
</body> 
</html> 